:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.title {
  display: flex;
  background-color: #be4b4b;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.title h1 {
  margin: 0;
  padding-left: 30px;
  display: inline;
  font-size: 3em;
  color: aliceblue;
}

.navbar {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 20px;
  margin-bottom: 0;
  align-self: flex-end;
  white-space:nowrap;
}

.navbar li {
  display: inline-block;
}

button {
  border: none;
  padding: 3px 20px;
  font-size: 1em;
}

button:hover {
  background-color: #be4b4b;
  color: aliceblue;
}